<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>buytiket</title>
  </head>
  <body>
    <h1>Buy Ticket</h1>
    <table>
      <form action="/buy" method="post">
        <input type="text" name="jumlah_ticket" placeholder="How Much Ticket ">
        <button type="submit" name="button">Submit</button>
      </form>
    </table><br><br>
    <table>
      <tr>
        <th>Total = </th>

        <th></th>
      </tr>
    </table>
  </body>
</html>
