<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%-include layout/page-title%>
    <%-include layout/bootstrapHead%>

  </head>
  <body>
    <%-include layout/navbar%>
    <h1>Register Page</h1>
    <br><br><br><br>
    <center>
      <form action="/register" method="post">
        <input type="text" name="participant_name" placeholder="Your Name"><br><br>
        <input type="password" name="password" placeholder="password"><br><br>
        <input type="text" name="phone_number" placeholder="phone_number"><br><br>
        <input type="text" name="address" placeholder="address"><br><br>
        <input type="text" name="personal_id" placeholder="Your ID Card"><br><br>
        <button type="submit" name="button">Submit</button>
      </form>
    </center>
    <%-include layout/bootstrapBody%>
  </body>
</html>
